<app-header></app-header>
<!-- MAIN -->
<main role="main">
    <!-- Content -->
    <article>
      <header class="section-top-padding background-white">
        <div class="line text-center">        
          <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">About Us</h1>
          <p class="margin-bottom-0 text-size-16 text-dark">“We have had major leaps in the very beginning year, and wishes to pursue the vision of establishing ourselves as a recognized solutions provider worldwide”
          </p>
        </div>  
      </header>
      <section class="section-top-padding background-white"> 
        <div class="line">
          <div class="margin">
            <div class="s-12 m-12 l-9 margin-m-bottom">
              <div class="margin">
                  <div class="s-12 m-12 l-3 margin-m-bottom">
                    <a class="image-hover-zoom margin-bottom" href="/"><img src="/assets/img/img-03.jpg" alt=""></a>
                  </div>
                  <div class="s-12 m-12 l-9 margin-m-bottom">
                <span>It is derived from an ancient name Ouroboros. The symbol depicts a serpent eating its own tail. It symbolizes infinite cyclicality, especially in the sense of something constantly recreating itself. We at Oroboro Global helps to renovate business and organizations to achieve excellence efficiently and effectively through technology.
                  </span>
               </div>
              </div>
              <div class="margin">
                <div class="s-12 m-12 l-12 margin-m-bottom">
                  <p class="text-size-14 text-dark">    Oroboro Global is a young aspiring company in software and services for enterprise-wide business process improvement and compliance management, providing the most comprehensive application suite to empower organizations to increase business performance at all levels and to maximize industry-mandated compliance and corporate governance programs. We along with our strong ties of international technical partners, provides hosting, implementation, post-sales support and validation services for all solutions to ensure that customers get the maximum value from their investments.
                    </p>
                    <br>
                    <p class="text-size-14 text-dark">Oroboro Global and our tech partner FERNS IT Consutancy LTD (UK) have been working with ERP platforms, implementation and development for half a decade. We have exclusive experience in handling variety of projects for different industries and different clients based in India, UK, Europe and Middle East. We have successfully delivered the quality of coding in ERP development
                      </p>
                 
               </div>
              </div>
            </div>
            <div class="s-12 m-12 l-3 margin-m-bottom">
              <a class="image-hover-zoom margin-bottom" href="/"><img src="/assets/img/img-04.jpg" alt=""></a>
              <h2>MISSION </h2>
              <p class="margin-bottom text-size-14 text-dark ">Help organizations attain substantial efficiency and competitive edge through software solutions for excellence and enterprise compliance.
                </p>  
                <h2>VISION
                  </h2>
                <p class="margin-bottom text-size-14 text-dark">To avail IT across the globe and to empower all to achieve its easiness and excellence
                  </p>                 
            </div>
            
          </div>
        </div>
      </section>
     
      
    </article>
  </main>
  
<app-footer></app-footer>

