<app-header></app-header>
<!-- MAIN -->
<main role="main">
    <!-- Content -->
    <article>
      <header class="section-top-padding background-white">
        <div class="line text-center">        
          <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">About Us</h1>
          <p class="margin-bottom-0 text-size-16 text-dark">“We have had major leaps in the very beginning year, and wishes to pursue the vision of establishing ourselves as a recognized solutions provider worldwide”
          </p>
        </div>  
      </header>
<section class="section background-white"> 
        <div class="line">      
          <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Clients <span class="text-dark">-</span></h2> 
          <p class="margin-bottom-50 text-center">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>                                                                                               
          <div class="margin2x">                                                                                              
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
              <img class="margin-bottom-40" src="/assets/img/logo-5.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-bottom-40" src="/assets/img/logo-2.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-bottom-40" src="/assets/img/logo-3.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-bottom-40" src="/assets/img/logo-4.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
              <img class="margin-bottom-40" src="/assets/img/logo-5.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
              <img class="margin-bottom-40" src="/assets/img/logo-1.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-m-bottom-40" src="/assets/img/logo-2.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-m-bottom-40" src="/assets/img/logo-3.png" alt="">                                                                                                                                                            
            </div>             
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-m-bottom-40" src="/assets/img/logo-4.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-m-bottom-40" src="/assets/img/logo-1.png" alt="">                                                                                                                                                            
            </div>
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img class="margin-m-bottom-40" src="/assets/img/logo-3.png" alt="">                                                                                                                                                            
            </div>             
            <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
              <img src="/assets/img/logo-4.png" alt="">                                                                                                                                                            
            </div>                                                                                                                                                                                              
          </div>
        </div>
      </section>
            
    </article>
</main>

<app-footer></app-footer>
