<app-header></app-header>
<!-- MAIN -->
<main role="main">
    <!-- Content -->
    <article>
      <header class="section-top-padding background-white">
        <div class="line text-center">        
          <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">Services</h1>
          <!--<p class="margin-bottom-0 text-size-16 text-dark">“We have had major leaps in the very beginning year, and wishes to pursue the vision of establishing ourselves as a recognized solutions provider worldwide”
          </p> -->
        </div>  
      </header>
      <section class="section background-white">
            <div class="line">
             
                <div class="margin">
                        <div class="s-12 m-12 l-4">
                                <h4>Services</h4>
                                <ul><li>
                                Data Migration</li>
                                <li>Customer Relationship Management</li>
                                <li>Enterprise Resource Planning</li>
                                <li>Data Warehousing</li>
                                <li>Business Intelligence</li>
                                <li>Technical Support</li>
                                <li>Mobile Application Development</li>
                                <li>Cloud Services</li>
                                <li>Business Process Outsourcing</li>
                                <li>Graphic Designing</li>
                                <li>Hospitality Management</li>
                                <li>Websites (complete package)</li>
                                <li>College Management Systems</li>
                                <li>Special Products (link to the page of Acumen)</li>
                            </ul>
                        </div> 
                        <div class="s-12 m-12 l-8">
                                <div class="margin">
                                    <div class="s-12 m-6 1-6">
                                            <div class="item">                                                                                                                                                                                                     
                                                    <div class="padding">
                                                      <img class="full-img border-image border-primary" src="/assets/img/team-04.jpg" alt="" title="Team" />
                                                      <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-20">Data Migration
                                                        </h3>
                                                      <p class="text-size-14 text-dark margin-bottom-10">We provide full-service data migration between any formats to increase the versatility of your infrastructure.
                                                            Our automated migration processes holistically transport your precious information without the slightest risk of corruption. All of our programs were painstakingly designed to provide secure data transferring and increase operational efficiency.
                                                            Our migration services include thorough verification and testing to make sure your new data types are flawless. Using the finest methodologies, we can assure you the highest quality results available today.
                                                            </p>
                                                     </div>                                                                                                                                                              
                                                  </div> 
                                    </div>
                                    <div class="s-12 m-6 1-6">
                                            <div class="item">                                                                                                                                                                                                     
                                                    <div class="padding">
                                                      <img class="full-img border-image border-primary" src="/assets/img/team-04.jpg" alt="" title="Team" />
                                                      <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-20">Customer relationship Management
                                                        </h3>
                                                      <p class="text-size-14 text-dark margin-bottom-10">As a customer-centric company ourselves, we know the value of personal, human-to-human customer service. 
                                                            Good customer relationships are essential to retention, revenue multiplication, and brand enhancement. The way people view your business will make or break it.
                                                            We provide the foundation of customer service with our CRM (customer relationship management) services. Using a variety of databases, we identify your audience and optimize marketing, sales, and services accordingly. We establish a dependable, continuous dialogue based on comprehensive information and help you gain usable insight. 
                                                            You'll understand your customer base better than ever and make your clients happier. This new knowledge will allow you to direct your services to your audience. You'll maximize both their experience and your experience.</p>
                                                             
                                                            <p  class="text-size-14 text-dark margin-bottom-10">Our CRM services:</p>
                                                            <ul>
                                                             <li  class="text-size-14 text-dark margin-bottom-10"> Increase sales productivity by providing customer insight</li>
                                                            <li  class="text-size-14 text-dark margin-bottom-10">Drive customer demand with targeted marketing messages</li>
                                                                    <li  class="text-size-14 text-dark margin-bottom-10">Manage marketing and sales resources more efficiently</li>
                                                                            <li  class="text-size-14 text-dark margin-bottom-10">Establish a simplified, standard marketing process with a central platform</li>
                                                                                    <li  class="text-size-14 text-dark margin-bottom-10">Turn contact centers into profit centers</li>
                                                        </ul>
                                                      </div>                                                                                                                                                              
                                                  </div> 
                                    </div>
                                   
                                </div>
                                <div class="margin">
                                        <div class="s-12 m-6 1-6">
                                                <div class="item">                                                                                                                                                                                                     
                                                        <div class="padding">
                                                          <img class="full-img border-image border-primary" src="/assets/img/team-04.jpg" alt="" title="Team" />
                                                          <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-20">Enterprise Resource Planning
                                                            </h3>
                                                          <p class="text-size-14 text-dark margin-bottom-10">We know what it's like to manage a steadily growing business. We've been successful for nearly a decade and have watched competitors fall because of a lack in management.
                                                                Poor oversight can lead to wasted time and assets. Because of this, we've developed muscular ERP programs that collect and analyze data to formulate a plan of maximum productivity.
                                                                With our ERP suite, you'll never waste time or opportunities. Our software gathers information from all corners of your business to get the most out of it. It displays financial, marketing, and service statistics and shows you how to optimize your resources. This integrated outlook on your operations will transform the way you work and increase your profitability. We help you automate your tasks and expedite procedures.
                                                                </p>
                                                         </div>                                                                                                                                                              
                                                      </div> 
                                        </div>
                                        <div class="s-12 m-6 1-6">
                                                <div class="item">                                                                                                                                                                                                     
                                                        <div class="padding">
                                                          <img class="full-img border-image border-primary" src="/assets/img/team-04.jpg" alt="" title="Team" />
                                                          <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-20">Data Warehousing
                                                            </h3>
                                                          <p class="text-size-14 text-dark margin-bottom-10">We help you identify and organize information residing in various source systems, Excel spreadsheets, websites, and paper-based systems. 
                                                                All the data is compiled into fully optimized data warehouses, where it can be easily harnessed to provide you with the timely information you need to make critical management decisions.
                                                                We utilize Microsoft's SQL server, which provides the enterprise-level performance you need to adapt quickly in an ever-changing environment. We provide expert system administration, management, support, and consulting services for SQL-based systems with our onsite DBA service offering. In addition to the SQL server, we implement Microsoft .NET solutions to enhance procedures so we can meet your specific needs.</p>
                                                               <p  class="text-size-14 text-dark margin-bottom-10"> WHY OROBORO GLOBAL?</p>
                                                               <p  class="text-size-14 text-dark margin-bottom-10"> Any Data Warehousing/Business Intelligence implementation is an extremely challenging task. Organizations should be well aware of the challenges that lay ahead in a project like this. Some aspects of the DW/BI system are:
                                                                </p>
                                                                 
                                                                <p>Our CRM services:</p>
                                                                <ul>
                                                                 <li> Increase sales productivity by providing customer insight</li>
                                                                <li>Drive customer demand with targeted marketing messages</li>
                                                                        <li>Manage marketing and sales resources more efficiently</li>
                                                                                <li>Establish a simplified, standard marketing process with a central platform</li>
                                                                                        <li>Turn contact centers into profit centers</li>
                                                            </ul>
                                                          </div>                                                                                                                                                              
                                                      </div> 
                                        </div>
                                       
                                    </div>


                            </div>   

                </div>
                                                                                                                                                                                                                                                                                                    
            </div> 
          </section>

    </article>
</main>

<app-footer></app-footer>
