<app-header></app-header>
    <!-- MAIN -->
    <main role="main">
        <!-- Content -->
        <article>
          <header class="section background-white">
            <div class="line text-center">        
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">Oroboro Global</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">“We have had major leaps in the very beginning year, and wishes to pursue the vision of establishing ourselves as a recognized solutions provider worldwide”
              </p>
            </div>  
          </header>
          <div class="background-white full-width"> 
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">If it can be imagined, it can be developed
                    </h3>
                   <!-- <p class="text-white text-size-14 margin-bottom-20"></p> --> 
                  </div> 
                </div> 
                <img class="full-img" src="/assets/img/portfolio/thumb-07.jpg" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">From backoffices to boardrooms, operations to supply chains internal work force to external parties
                    </h3>
                   <!-- <p class="text-white text-size-14 margin-bottom-20"></p> --> 
                  </div> 
                </div> 
                <img class="full-img" src="/assets/img/portfolio/thumb-02.jpg" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Tailored solutions for organizations of all sizes and industries
                    </h3>
                   <!-- <p class="text-white text-size-14 margin-bottom-20"></p> -->                 
                  </div> 
                </div> 
                <img class="full-img" src="/assets/img/portfolio/thumb-03.jpg" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Striving hard at exceeding customer requirements
                    </h3>
                    <!-- <p class="text-white text-size-14 margin-bottom-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>  
                 --> </div>  
                </div> 
                <img class="full-img" src="/assets/img/portfolio/thumb-04.jpg" alt=""/>
              </a>	
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary"> 
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Most effective help with products, services and training
                    </h3>
                 <!-- <p class="text-white text-size-14 margin-bottom-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>  
                  --> </div> 
                </div> 
                <img class="full-img" src="/assets/img/portfolio/thumb-05.jpg" alt=""/>
              </a>	
            </div>
          </div>  
        </article>
      </main>
      
<app-footer></app-footer>
